# docker-compose.yml
services:
  couchdb:
    image: couchdb:3.4.2
    container_name: couchdb
    restart: unless-stopped
    ports:
      - '5984:5984'
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=secret123

  couchdb-init:
    image: curlimages/curl:latest
    depends_on:
      - couchdb
    command:
      - /bin/sh
      - -c
      - |
        echo "Waiting for CouchDB..."
        sleep 5

        curl -X PUT http://admin:secret123@couchdb:5984/app_db

        curl -X POST http://admin:secret123@couchdb:5984/app_db/_index \
          -H "Content-Type: application/json" \
          -d '{"index":{"fields":["type","createdAt"]},"name":"type-createdAt-index","type":"json"}'

        echo "CouchDB initialized successfully!"

# Test CouchDB is running
# curl http://127.0.0.1:5984/

# Logimg to CouchDB Fauxton UI after 5 Seconds
# http://localhost:5984/_utils
